<div class="list-group-item text_box pt-5 pb-5" style="background-color: rgba(255, 255, 255, 0.6)">
  <h1 class="card-title">Η ομάδα προφορικών αφηγήσεων Μαργαριτών</h1>
  <br>
  <p class="card-text">Δημιουργήθηκε το 2017 από μια ομάδα κατοίκων του χωριού Μαργαρίτες Ρεθύμνου. Στόχος ήταν η καταγραφή Ιστορικών ζωής των πιο μεγάλων σε ηλικία κατοίκων της Κοινότητας. </p>
  <br>
  <p class="card-text">Κίνητρο για τη δημιουργία αυτού του αρχείου, ήταν η συνειδητοποίηση ότι με το τέλος της γενιάς των ανθρώπων που το 2017 είναι από 80 ετών και επάνω,  χάνεται η ζωντανή μνήμη ιστορικών γεγονότων που ξεκινούν από το Β’ Παγκόσμιο Πόλεμο, την Κατοχή, τον εμφύλιο  και προχωρουν ως τις μέρες μας. Χάνεται επίσης η ζωντανή μνήμη κοινωνικών γεγονότων και σχέσεων κατά τη διάρκεια μιας περιόδου που οι Μαργαρίτες και οι γύρω κοινότητες ήταν πολυπληθέστερες, ο βιοπορισμός βασιζόταν στη γεωργική παραγωγή και την αγγειοπλαστική και οι συναλλαγές γινόταν  ως επι το πλείστον με ανταλλαγή προϊόντων.  Επιλέον με τη γενιά αυτή τελειώνει και η ζωντανή μνήμη  επαγγελματων, και πρακτικών καθημερινής ζωής όπως και η μνήμη της  μορφής  του οικισμού, πριν τα μέσα του 20ου αιώνα.</p>
  <br>
  <p class="card-text">Ισχυρό κίνητρο επίσης ήταν η ανάγκη αποτύπωσης του λόγου των ανθρώπων, που αφηγούνται. Λόγου ανεπηρρέαστου συνήθως από την εγκύκλια παιδεία και  που όσο αφορά το περιεχόμενο, το λεκτικό και την προσωδία του, απηχεί την εποχή της Προφορικότητας, εποχή που  η γνώση, η πληροφορία, η δράση, το συναίσθημα αλλά και κάθε είδους σχέση αναδύονταν και αποτυπώνονταν μέσα από την ζωντανη και συνεχή προφορική αφήγηση στην Κοινότητα.</p>
  <br>
  <br>
  <h1 class="card-title">Ο Ρόδακας</h1>
  <br>
  <p class="card-title">Η Κοινότητα Μαργαριτών αποτελεί το συνδετικό παράγοντα του Ρόδακα. Η Ιστορία, τα πρόσωπα, οι κοινωνικές/δημογραφικές, θεσμικές και πολιτισμικές αλλαγές που προβάλλουν μέσα από τις αφηγήσεις των κατοίκων της ήταν το πρώτο και σημαντικότερο πεδίο συνάντησης και ενδιαφέροντος της ομάδας, αποτέλεσαν το κίνητρο και έδωσαν την έμπνευση για τη δημιουργία της και για τους σκοπούς της.</p>
  <br>
  <p class="card-title">Ο Ρόδακας έθεσε ως πρώτο στόχο τη δημιουργία του Αρχείου Προφορικών Αφηγήσεων όπως και του Φωτογραφικού Αρχείου της Κοινότητας Μαργαριτών, που θα είναι χρήσιμο και πρόσφορο για την έρευνα αλλά συγχρόνως θα αποτελεί παρακαταθήκη και μνημονικό πυρήνα για τους νεότερους ανθρώπους είτε είναι κάτοικοι είτε κατάγονται απο τις Μαργαρίτες και τις γύρω κοινότητες. Το ίδιο ισχύει και για τα εργαστήρια λιθοδομής και κεραμικής. Η γνώση και η εφαρμογή της ξεκινά από την Κοινότητα, απευθύνεται στο ευρύτερο κοινό και ξαναγυρνά στην ίδια.</p>
</div>
