<!-- Interviews -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-8">
  <div class="card-body">
    <h2 class="card-title">Αρχείο προφορικών αφηγήσεων</h2>
    <h5 class="card-title"><br>Προς το παρόν μη διαθέσιμο διαδικτυακά</h5>
    <div class="card-text">
      <p>Από το 2017 έως σήμερα η ομάδα Προφορικών Αφηγήσεων Μαργαριτών έχει πραγματοποιήσει πάνω από 100 συνεντεύξεις κατοίκων κυρίως των Μαργαριτών με βασικούς άξονες τα ιστορικά ζωής, τα οικογενειακά ιστορικά και τις τέχνες και πρακτικές του περασμένου αιώνα. Στο αρχείο αυτό έρχεται να προστεθεί πλήθος συνεντεύξεων της δεκαετίας του '80 που πραγματοποιήθηκαν από την Μαρία Παδουβά, πρόεδρο του Ρόδακα. Το συνολικό αρχείο συνεντεύξεων είναι υπό απομαγνητοφώνηση και επεξεργασία, σε αυτό δεν παύουν να προστίθενται νέες συνεντεύξεις που πραγματοποιεί η ομάδα κατά τη δράση της.
    </div>
  </div>
</li>

<!-- photos -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-8">
  <div class="card-body">
    <h2 class="card-title">Φωτογραφικό αρχείο</h2>
    <h5 class="card-title"><br>Προς το παρόν μη διαθέσιμο διαδικτυακά</h5>
    <div class="card-text">
      <p>Από το 2017 έως σήμερα η ομάδα Προφορικών Αφηγήσεων Μαργαριτών έχει συλλέξει δεκάδες φωτογραφίες του χωριού και των κατοίκων του παραχωρημένες από τις ιδιωτικές συλλογές των Μαργαριτσανών, τραβηγμένες από τις αρχές του 20ου αιώνα και ύστερα.</p>
    </div>
    <div class="carousel slide carousel-fade d-flex justify-content-center">
      <%= render 'pages/carousel' %>
    </div>
  </div>
</li>


<!-- Spiti -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-18">
  <div class="card-body">
    <h2 class="card-title">Πετρόκτιστη κατοικία Μαργαριτών</h2>
    <div class="card-text">
      <p>Σύντομη αναφορά στη φυσιογνωμία της κοινότητας Mαργαριτών ως τα μέσα του 20ου αιώνα και μορφή της πετρόκτιστης κατοικίας.</p>
      <div class="d-flex justify-content-center">
        <%= link_to "ΛΗΨΗ", 'https://rodakasdotorg.files.wordpress.com/2021/05/katoikia-margarites.pdf', class: "button btn btn-outline-dark", target: "_blank", method: "get" %>
      </div>
    </div>
  </div>
</li>
