<div class="list-group-item border-0 shadow-lg text_box pt-5 pb-5" style="background-color: rgba(242, 238, 236 , 0.8); padding-left:2rem; padding-right:2rem;">
  <h1 class="card-title text-center">ΕΡΓΑΣΤΗΡΙΟ ΥΦΑΝΤΙΚΗΣ</h1>
  <h2 class="card-title text-center">ΜΑΡΓΑΡΙΤΕΣ ΜΥΛΟΠΟΤΑΜΟΥ - 12 ΕΩΣ 18 ΙΟΥΝΙΟΥ 2022</h2>
  <br>
  <br>
  <p class="card-text">Ο αργαλειός και τα εξαρτήματά του, το στημόνι και τα υφάδια, το μιτοχτένιασμα, η ύφανση για διαφορετικά είδη και χρήσεις πανιών,<br>η βαφή των νημάτων με φυσικές βαφές, οι παλιές υφάντρες και η ιστορίες τους...</p>
  <p class="card-text">Ο Ρόδακας διοργανώνει το πρώτο του θερινό εργαστήρι κάνοντας το εισαγωγικό του βήμα στον απέραντο και υπέροχο κόσμο της Υφαντικής Τέχνης.</p><p>Με δασκάλα την υφάντρα Δέσποινα Σωμάκη, το πέταλο του αργαλειού θα χτυπήσει πάλι στις Μαργαρίτες από τις 12 έως τις 18 Ιουνίου.</p>
  <br>
  <br>
  <h2 class="card-text">Φυσιογνωμία και πρόγραμμα του εργαστηρίου:</h2>
  <br>
  <h3 class="card-title">Κυριακή 12 Ιουνίου</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Συνάντηση στο Καφενείο Βρύση στην πρώτη πλατεία του χωριού από τη βόρεια είσοδό του.<br>
  Εγκατάσταση στους χώρους διαμονής για όσες/ους μείνουν στις Μαργαρίτες<br>
  Γνωριμία με τη Δασκάλα της Υφαντικής κα Δέσποινα Παντελάκη-Σωμάκη.</p>
  <p>ΠΡΩΙ: Εργαστήριο Υφαντικής. Τα μέρη του αργαλειού, το μιτοχτένιασμα, η αντιμετώπιση μηχανικών προβλημάτων.</p>
  <p>ΑΠΟΓΕΥΜΑ: Εισαγωγικό μάθημα υφαντικής</p>
  <br>
  <h3 class="card-title">Δευτέρα 13 Ιουνίου έως Παρασκευή 17 Ιουνίου</h3>
  <br>
  <p class="card-text">ΠΡΩΙΝΑ: Μάθημα Υφαντικής</p>
  <p>ΜΕΣΗΜΕΡΙΑ: Ελεύθερος χρόνος</p>
  <p>ΑΠΟΓΕΥΜΑΤΑ: Δυνατότητα εξάσκησης πάνω στους διαθέσιμους αργαλειούς</p>
  <br>
  <h3 class="card-title">Σάββατο 18 Ιουνίου</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήριο Βαφικής Νημάτων με Φυσικά Υλικά</p>
  <br>
  <h3>Παράλληλες Εκδηλώσεις</h3>
  <br>
  <p>Τετάρτη 15 Ιουνίου: Παρουσίαση της Υφαντικής Τέχνης της Φλωρεντίνης Σκουλούδη-Καλούτση, από το γιό της Γεώργιο Καλούτση.</p>
  <p>Πέμπτη 16 Ιουνίου: Μάθημα Βαφικής με Φυσικά Υλικά από την κα Κατερίνα Κορρέ, <br>
  με αναφορές στη συμβολή της λαογράφου-μελετήτριας Άννας Αποστολάκη και της Ευαγγελίας Φραγκάκη.</p>
  <p>Σάββατο 18 Ιουνίου: Γιορτή Υφαντικής: Συνάντηση στο Πνευματικό Κέντρο Μαργαριτών όπου θα γίνει έκθεση<br>
  και θα ακουστούν οι ιστορίες όμορφων υφαντών από τις Μαργαρίτες και αλλού, όπως θα μας τα παρουσιάσουν<br>
  οι σημερινοί κάτοχοί τους.  
  </p>
  <br>
  <h3 class="card-title">Διαμονή</h3>
  <p class="card-text">Δυνατότητα διαμονής υπάρχει στους ξενώνες:</p>
  <p class="card-text">«Το σπίτι των Κουρητών» στον οικισμό των Μαργαριτών Τζαννακιανά, με διαθέσιμα :<br>Δίκλινα δωμάτια με κόστος 20 ευρώ ανά άτομο.<br>Τρίκλινα και Τετράκλινα δωμάτια με κόστος 15 ευρώ ανά άτομο<br>Τηλέφωνο επικοινωνίας: 6945722052 κ. Αναστασία Φρυγανάκη</p>
  <p class="card-text">«Χαλικούτικα» Μαργαρίτες.<br>Κατοικία που διατίθεται με πλήρη εξοπλισμό και διαθέσιμα δύο υπνοδωμάτια με δίκλινα κρεβάτια και ένα μονόκλινο. Το κόστος ολόκληρης της κατοικίας είναι 70 ευρώ.<br>Τηλέφωνο επικοινωνίας: 6973005153 κ. Γιώργος Σκαλιδάκης</p>
  <p class="card-text">Archontiko Rodomeli Μαργαρίτες.<br>Ξενώνας με δίκλινα δωμάτια. Τιμή δωματίου 50 ευρώ.<br>Τηλέφωνο επικοινωνίας κ. Ελένη Γιαννουσάκη 6979101973</p>
  <br>
  <h3 class="card-title">Δήλωση Συμμετοχής</h3>
  <p class="card-text">Το κόστος του εργαστηρίου είναι 120 ευρώ.<br>Προκειμένου να κρατηθεί η συμμετοχή πρέπει να κατατεθεί μία προκαταβολή των 40 ευρώ στο λογαριασμό του Ρόδακα ως το τέλος του Μαΐου<br>GR57 0171 3750 0063 7514 8760 913<br>Για να δηλώσετε συμμετοχή συμπληρώστε την παρακάτω φόρμα.
  </p>
  <div align="center">
    <%= link_to 'Φόρμα Εγγραφής', 'https://forms.gle/6qBE3KYmzDGGS6f49', class: "btn btn-lg btn-outline-dark mt-4", target: '_blank' %>
  </div>
</div>


<ul class="list-group-item text_box pt-5 pb-5 border-0" style="background-color: transparent">
  <li class="card border-0 mb-5" style="background-color: transparent">
    <div class="row align-items-center justify-content-center shadow-lg" style="background-color: rgba(242, 238, 236 , 0.8)">
      <div class="col col-md-4 mb-4" align="center" max-width="80vw">
        <%= link_to image_tag("https://i.imgur.com/yZIhaxG.jpg", style:"max-width:80vw", class: "shadow rounded col-md-8 mt-2 img_in_weird_hue", id:"broad_img"), 'https://i.imgur.com/yZIhaxG.jpg', target: '_blank'%>
      </div>
      <div class="col col-md-8">
        <style> #more1 {display: none;}</style>
        <div class="card-body .col-xs-12 .col-md-8">
          <h4 class="card-title">Δέσποινα Παντελάκη-Σωμάκη</h4>
          <div class="card-text">
            <p>Γεννήθηκα στα Χανιά από γονείς ευσεβείς και τίμιους. Ό πατέρας μου ήταν ο Τηλέμαχος Παντελάκης, τροχονόμος στα Χανιά και η μητέρα μου Σοφία ήταν από τό Ηράκλειο. Δούλευε στο υφαντήριο της Ελένης Καστρινογιάννη. Από τη μητέρα μου δέχτηκα την επιρροή και αγάπησα την τέχνη της υφαντικής.<br>
              Παντρεύτηκα στα δεκαέξι μου χρόνια τον Εμμανουήλ Σωμάκη, αξιωματικό του ΠΝ και αποκτήσαμε δύο παιδιά τον Τηλέμαχο Αντώνιο και την Στεφανία. Δούλεψα σε πολλές διαφορετικές δουλειές, μπομπονιέρες, φασον κουμπιά, έδενα μαργαριτάρια σε χρυσοχοεία, εργάστηκα πουλώντας κατεψυγμένα είδη και πορτοκάλια σε λαϊκές.<br>
              Όμως πάντα ήθελα να ασχοληθώ με τόν αργαλειό! Με μάγευε ό ήχος, τά χρώματα, η μυρωδιές τών νημάτων το αποτέλεσμα... Είχα πει ότι στα 40 μου ότι και αν έχω κάνει θα βάλω αργαλειό και το πραγματοποίησα! Στην αρχή δέχθηκα απαξίωση για την επιλογή μου να ασχοληθώ με τον αργαλειό, όμως δεν πτοήθηκα.<br>
              Ειμαι περήφανη που είμαι υφάντρα!</p>
              <p>Η Δέσποινα Παντελάκη-Σωμάκη διδάσκει εδώ και πέντε χρόνια την υφαντική τέχνη στο Λύκειο Ελληνίδων στα Χανιά. Υφαντά της έχει προμηθευτεί ο οίκος Chanel και έχει ενδιαφερθεί να προμηθευτεί ο οίκος Dior. Έχει συνεργασία με το ελληνικό brand Gaenus της Ευτυχίας Σαρρή στο Λονδίνο και με άλλους σημαντικούς οίκους.</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
