<!-- Katofli -->
<li class="multimedia-card list-group-item mt-5 col-md-8 offset-md-2 rounded card p-3 mb-8" style="background-color:rgba(255, 255, 255, 0.5); border:0;">
  <div class="card-body align-items-center">
    <div class="text_box pt-5 pb-5" style="border:0; background-color:transparent;">
      <h1 class="card-title text-center">«Το κατώφλι της μνήμης»<br>2019</h1>
      <br>
      <p class="card-text text-center">Πώς φτιάχτηκαν οι συμπαγείς οικιστικές νησίδες με τους ψηλούς εξωτερικούς τοίχους που κλείνουν «σαν το ρόδι», τις κατοικίες των Μαργαριτσανών; Ποιες οικογένειες κατοίκησαν σε ποιές γειτονιές και ποιες οι ιστορίες τους; Πώς οι χτίστες έβγαζαν την πέτρα και πώς χτιζόταν ένα σπίτι από τους ντόπιους μαστόρους; Είναι τα θέματα για τα οποία μιλά «Το κατώφλι της μνήμης» 2019, το δεύτερο ντοκιμαντέρ της Όμάδας Προφορικών Αφηγήσεων (Ρόδακας). Η καταγραφή αυτή βασίζεται στις προφορικές μαρτυρίες και είναι ένα οδοιπορικό στους δημόσιους χώρους και αναδρομή στη μνήμη του πατρικού σπιτιού και των παιδικών χρόνων των κατοίκων του χωριού.</p>
    </div>
    <!-- <p align="center"><object class="col-md-8" height="315" data='http://www.youtube.com/embed/SwilYpx4inA' frameborder="0"></object></p> -->
    <p class="offset-md-3 col-md-6"><%= link_to image_tag("katofli.jpg", height:"auto", width:"100%", class: "shadow rounded"), 'http://www.youtube.com/embed/SwilYpx4inA',target:"_blank" %></p>
  </div>
</li>

<!-- Xronia-->
<li class="multimedia-card list-group-item mt-5 col-md-8 offset-md-2 rounded card p-3 mb-8" style="background-color:rgba(255, 255, 255, 0.5); border:0;">
  <div class="card-body align-items-center">
    <div class="text_box pt-5 pb-5" style="border:0; background-color:transparent;">
      <h1 class="card-title text-center">«Πιο Δύσκολα Χρόνια πιο Ευτυχισμένα Χρόνια»<br>2018</h1>
      <br>
      <p class="card-text text-center">Ένα μέρος του αρχειακού υλικού (βίντεο, συνεντεύξεις, φωτογραφίες), από τις καταγραφές των ιστορικών ζωής των μεγαλύτερων σε ηλικία κατοίκων των Μαργαριτών χρησιμοποιήθηκε για την δημιουργία του ντοκιμαντερ «Πιο δύσκολα χρόνια πιο ευτυχισμένα χρόνια» με άξονες τις σημαντικές προσωπικές σχέσεις και τα ιστορικά και κοινωνικά γεγονότα που επηρέασαν τις ζωές των προσώπων που αφηγούνται. Η απόφαση για την υλοποίηση του ντοκιμαντέρ προέκυψε από την ανάγκη να εξωτερικεύσει η ομάδα τη δράση της και να συμβάλλει στην αισθητοποίηση γύρω από την σημασία της αφήγησης και την αξία της μνήμης για την συγκρότηση της πολιτισμικής ταυτότητας και την κοινωνική συνοχή.</p>
    </div>
    <p class="offset-md-3 col-md-6"><%= link_to image_tag("xronia.jpg", height:"auto", width:"100%", class: "shadow rounded"), 'http://www.youtube.com/embed/REPS0llRMtY', target:"_blank" %></p>
    <!-- <p align="center"><iframe class="col-md-8" height="315" src="http://www.youtube.com/embed/REPS0llRMtY" frameborder="0" allowfullscreen></iframe></p> -->
  </div>
</li>
