<div class="list-group-item border-0 shadow-lg text_box pt-5 pb-5" style="background-color: rgba(242, 238, 236 , 0.8)">
  <h1 class="card-title text-center">ΕΡΓΑΣΤΗΡΙΟ ΚΑΤΑΣΚΕΥΗΣ ΞΕΡΟΛΙΘΙΑΣ & ΑΠΟΚΑΤΑΣΤΑΣΗΣ ΛΙΘΟΔΟΜΗΣ ΜΕ ΦΥΣΙΚΑ ΥΛΙΚΑ</h1>
  <h2 class="card-title text-center">ΜΑΡΓΑΡΙΤΕΣ ΜΥΛΟΠΟΤΑΜΟΥ 24 - 30 ΙΟΥΛΙΟΥ 2022</h2>
  <br>
  <br>
  <p class="card-text">Ένα καλό κτίρι είναι πάντα αξιοζήλευτο, μας τραβάει το βλέμμα και το ταξιδεύει πάνω στην συμμετρία αλλά και την ασύμμετρη μοναδικότητά του. Μας γεννά θαυμασμό για το μερακλίκι του μάστορα και την εποχή που το γέννησε.</p>
  <p class="card-text">Oι τεχνικές και η εμπειρία της παραδοσιακής λιθοδομής ζει ακόμα στα χέρια ορισμένων μαστόρων σε όλη την Ελλάδα. Η ομάδα του Ρόδακα οργανώνει για τρίτη φορά μία προσπάθεια μετάδοσης των βασικών αρχών της παραδοσιακής δόμησης στον τόπο μας με την χρήση φυσικών υλικών.</p> 
  <p class="card-text">Ο Ρόδακας - Ομάδα Προφορικών Αφηγήσεων Μαργαριτών, σας προσκαλεί να αφήσετε το λιθαράκι σας στις Μαργαρίτες και να αποκτήσετε την βιωματική γνώση που θα αλλάξει τη σχέση σας και την οπτική σας απέναντι στα κτίρια κάθε είδους. Στο πλευρό σας θα είναι οι ντόπιοι Μάστορες Γιάννης Αλεφαντινός (Μαργαρίτες) και Κώστας Βεργιανάκης με το συνεργείο του (Αλφά) των οποίων τα βιογραφικά σημειώματα θα βρείτε παρακάτω καθώς και τα μέλη και οι φίλοι της ομάδας του Ρόδακα.</p>
  <br>
  <p class="card-text">Το εργαστήριο Κατασκευής Ξερολιθιάς και το Εργαστήριο Αποκατάστασης της Παραδοσιακής Λιθοδομής με Φυσικά Υλικά θα εκτυλίσσονται παράλληλα οπότε οι συμμετέχοντες του φετινού εργαστηρίου λιθοδομής μπορούν να επιλέξουν να συμμετέχουν σε ένα από τα δύο</p>
  <br>
  <br>
  <h2 class="card-text">Φυσιογνωμία και πρόγραμμα του εργαστηρίου:</h2>
  <br>
  <h3 class="card-title">Κυριακή 24/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Άφιξη στο χωριό και υποδοχή στο καφενείο 'Η Βρύση' στην κάτω πλατεία του χωριού, ξενάγηση στο χωριό από τον μάστορα Γιάννη Αλεφαντινό και την ιστορικό/εθνολόγο Μαρία Παδουβά.</p>
  <p>ΑΠΟΓΕΥΜΑ: Αρχιτεκτονικός περίπατος με τον μάστορα Κωστή Βεργιανάκη. Θεωρία, παρατήρηση και συζήτηση πάνω σε παραδείγματα κατοικιών των Μαργαριτών.</p>
  <br>
  <h3 class="card-title">Δευτέρα 25/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήρια</p>
  <p>ΑΠΟΓΕΥΜΑ: Περίπατος σε τοποθεσίες φυσικού και αρχιτεκτονικού ενδιαφέροντος γύρω από το χωριό με τον ορειβάτη Γιάννη Βασιλάκη.</p>
  <br>
  <h3 class="card-title">Τρίτη 26/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήρια</p>
  <p>ΑΠΟΓΕΥΜΑ: Εκδρομή στα Ανώγεια με πούλμαν, ξενάγηση σε μιτάτα των Ανωγείων από την πολιτικό μηχανικό Ζαχαρένια Σκουλά και εισήγηση με θέμα την Διαμόρφωση της Παραδοσιακής Λιθοδομής ανάλογα με την Γεωλογία της Περιοχής στην Κρήτη από τον Χαράλαμπο Φασουλά, Γεωλόγο Phd. Πρόεδρο Δικτύου ΙΔΑΙΩΝ/Συντονιστή Γεωπάρκου Ψηλορείτη.</p>
  <br>
  <h3 class="card-title">Τετάρτη 27/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήρια</p>
  <p>ΑΠΟΓΕΥΜΑ: Ομιλίες με θέματα:</p><p>• Την αρχιτεκτονική της Κρητικής Αναγέννησης.<br>• Την χρήση των φυσικών υλικών στη δόμηση και την κατασκευή της ξερολιθιάς.<br>• Την οικονομική πτυχή της φυσικής δόμησης.</p>
  <br>
  <h3 class="card-title">Πέμπτη 28/07/2022</h3>
  <br>
  <p class="card-text">Ολοήμερα παράλληλα εργαστήρια:</p><p>• Βασικές αρχές της Λιθοξοΐας & Παραδοσιακά Μοτίβα για τους μαθητές της ξερολιθιάς.<br>• Ασβέστης και Άργιλος Τα συνδετικά υλικά της φυσικής δόμησης για τους μαθητές του εργαστηρίου αποκατάστασης.</p>
  <br>
  <h3 class="card-title">Παρασκευή 29/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήρια</p>
  <p>ΑΠΟΓΕΥΜΑ: Ελεύθερο απόγευμα.</p>
  <br>
  <h3 class="card-title">Σάββατο 30/07/2022</h3>
  <br>
  <p class="card-text">ΠΡΩΙ: Εργαστήρια</p>
  <p>ΑΠΟΓΕΥΜΑ: Συνάντηση των ομάδων για αποτίμηση και συζήτηση, αποχαιρετιστήρια εκδήλωση.</p>
  <br>
  <h3 class="card-title">Διαμονή</h3>
  <p class="card-text">Δυνατότητα διαμονής υπάρχει στους ξενώνες:</p>
  <p class="card-text">«Το σπίτι των Κουρητών» στον οικισμό των Μαργαριτών Τζαννακιανά, με διαθέσιμα :<br>Δίκλινα δωμάτια με κόστος 20 ευρώ ανά άτομο με πρωινό.<br>Τρίκλινα και Τετράκλινα δωμάτια με κόστος 15 ευρώ ανά άτομο<br>Τηλέφωνο επικοινωνίας: 6945722052 κ. Αναστασία Φρυγανάκη</p>
  <p class="card-text">«Χαλικούτικα» Μαργαρίτες.<br>Κατοικία που διατίθεται με πλήρη εξοπλισμό και διαθέσιμα δύο υπνοδωμάτια με δίκλινα κρεβάτια και ένα μονόκλινο. Το κόστος ολόκληρης της κατοικίας είναι 70 ευρώ.<br>Τηλέφωνο επικοινωνίας: 6973005153 κ. Γιώργος Σκαλιδάκης</p>
  <p class="card-text">Archontiko Rodomeli Μαργαρίτες.<br>Ξενώνας με δίκλινα δωμάτια. Τιμή δωματίου 50 ευρώ.<br>Τηλέφωνο επικοινωνίας κ. Ελένη Γιαννουσάκη 6979101973</p>
  <br>
  <p class="card-text">Aκόμα δυνατότητα διαμονής θα υπάρχει για περιορισμένο αριθμό ατόμων σε ελαιώνα εντός του χωριού όπου θα μπορούν να στήσουν τη σκηνή τους:</p>
  <br>
  <h3 class="card-title">Δήλωση Συμμετοχής</h3>
  <p class="card-text">Το κόστος του εργαστηρίου είναι 180 ευρώ.<br>Προκειμένου να κρατηθεί η συμμετοχή πρέπει να κατατεθεί μία προκαταβολή των 60 ευρώ στο λογαριασμό του Ρόδακα<br>GR57 0171 3750 0063 7514 8760 913<br>Για να δηλώσετε συμμετοχή συμπληρώστε την παρακάτω φόρμα.
  </p>
  <div align="center">
    <%= link_to 'Φόρμα Εγγραφής', 'https://forms.gle/mXSghBVhGyFiF5Me7', class: "btn btn-lg btn-outline-dark mt-4", target: '_blank' %>
  </div>
</div>


<ul class="list-group-item text_box pt-5 pb-5 border-0" style="background-color: transparent">
  <li class="card border-0 mb-5" style="background-color: transparent">
    <div class="row align-items-center justify-content-center shadow-lg" style="background-color: rgba(242, 238, 236 , 0.8)">
      <div class="col col-md-4 mb-4" align="center" max-width="80vw">
        <%= link_to image_tag("https://i.imgur.com/bWzm9i5.jpg", style:"max-width:80vw", class: "shadow rounded col-md-8 pt-2 mt-2", id:"broad_img"), 'https://i.imgur.com/bWzm9i5.jpg', target: '_blank'%>
      </div>
      <div class="col col-md-8">
        <style> #more1 {display: none;}</style>
        <div class="card-body .col-xs-12 .col-md-8">
          <h4 class="card-title">Γιάννης Αλεφαντινός</h4>
          <div class="card-text">
            <p>Ο Γιάννης Αλεφαντινός γεννηθηκε το 1956, στα Τζαννακιανά, οικισμό της Κοινότητας Μαργαριτών Μυλοποτάμου. Ο παππούς του όπως και  πατέρας του Γιάννης και οι πατρικοί του θείοι, Γιώργος και Νίκος ήταν όλοι μάστορες της πέτρας και ασχολούνταν με την οικοδομή αλλά και τη λιθοξοΐα. Κοντά τους μαθήτευσε από την παιδική του ηλικία. Έμαθε από παιδί τις τεχνικές της εξόρυξης και τα είδη της ντόπιας πέτρας, το χτίσιμο του πετρότοιχου, το πελέκημα και  την κατασκευή θυρωμάτων, όπως και τη γλυπτική της πέτρας.</p>
            <p>Έχτισε «με ζευγάρι» το μάστορα Γιώργη Γεροβασάκη, στο Δεσποτικό της Μητρόπολης του Ρεθύμνου, συμμετείχε στην ανέγερση των ναών  του Προφήτη Ηλία στην Αρχαία Ελεύθερνα, της Αγίας Τριάδας  στα Αγγελιανά, του Αγίου Γεωργίου στο Χουμέρι, του  Αγίου Σπυρίδωνα στα Πηγουνιανά, στην οικοδόμηση του σχολείου στο χωριό Χώνος Ρεθύμνου.  Επίσης εργάστηκε στην αναστήλωση της Μονής του Αγίου Ιωάννου στο Μπαλί όπως και στα έργα αναστήλωσης της Φορτέτζας του Ρεθύμνου και στο αρχοντικό-πύργο του ιατρού Εμμανουήλ Μαθιουδάκη στα Αγγελιανά. Ασχολήθηκε με την οικοδόμηση  μεγάλου αριθμού  πετρόκτιστων  οικιών  ως τη δεκαετία του ΄90</p>
            <p>Όταν μειώθηκε η χρήση της πέτρας ως βασικού οικδομικού υλικού, συνέχισε δουλεύοντας στην αναστήλωση και αποκατάσταση λίθινων κατασκευών, στο αρμολόγημα και στα επιχρίσματα λιθοδομής. Χρησιμοποίησε ντόπια χώματα και πειραματίστηκε με αυτά για τη στερεότητα και τη στεγανότητα των αρμών και των επιχρισμάτων.  Τον ενδιέφερε η στερεότητα όσο και το αισθητικό αποτέλεσμα και γι αυτό χρησιμοποίησε τις γνώσεις από την παράδοση των προγόνων του και τη δική του μεγάλη τεχνική εμπειρία.</p>
            <p>Παράλληλα καθώς σεβόταν και είχε πάντα μεγάλο ενδιαφέρον για την παράδοση, δημιούργησε ένα αξιόλογο γραπτο αρχείο από καταγραφές των συγχωριανών του, αλλά και ιστορικών γεγονότων που έζησε ο ίδιος και χαρακτήρισαν την εποχή του.</p>
            <p>Ο Γιάννης Αλεφαντινός είναι ο τελευταίος μάστορας της πέτρας στις Μαργαρίτες, που γνωρίζει και εφαρμόζει τις τοπικές οικοδομικές τεχνικές, τις οποίες  χρησιμοποιούσαν για αιώνες  οι μάστορες της πέτρας στο χωριό αυτό, δημιουργώντας την εξαίρετη χαρακτηριστική εικόνα του.</p>
            <p>Το καλοκαίρι του 2020 και του 2021, ο Γιάννης Αλεφαντινός συμμετείχε ως εκπαιδευτής στο πρώτο εργαστήριο αποκατάστασης λιθοδομής που έγινε με επιτυχία στις Μαργαρίτες από την ΚΟΙΝΣΕΠ ΡΟΔΑΚΑΣ. Επίσης έλαβε μέρος στην έρευνα της Ομάδας Προφορικών Αφηγήσεων Μαργαριτών για την ιστορική καταγραφή των οικογενειών και των κατοικιών της Κοινότητας Μαργαριτών και βοήθησε σημαντικά στην πραγματοποίηση του ντοκιμαντέρ  της Ομάδας Προφορικών Αφηγήσεων Μαργαριτών : «Το Κατώφλι της Μνήμης».</p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="card border-0 mb-5" style="background-color: transparent">
    <div class="row align-items-center justify-content-center shadow-lg" style="background-color: rgba(242, 238, 236 , 0.8)">
      <div class="col col-md-4 mb-4" align="center" max-width="80vw">
        <%= link_to image_tag("https://i.imgur.com/55X7coa.jpg", style:"max-width:80vw", class: "shadow rounded col-md-8 pt-2 mt-2", id:"broad_img"), 'https://i.imgur.com/55X7coa.jpg', target: '_blank'%>
      </div>
      <div class="col col-md-8">
        <style> #more1 {display: none;}</style>
        <div class="card-body .col-xs-12 .col-md-8">
          <h4 class="card-title">Κωστής Βεργιανάκης</h4>
          <div class="card-text">
            <p>Ο Κώστας Βεργιανάκης γεννήθηκε το 1962 στον οικισμό Αλφά δήμου Μυλοποτάμου, ένα χωριό με πλούσια πολιτισμική και πολιτιστική κληρονομιά. Στον οικισμό  λόγω του πλούσιου υπεδάφους σε κοιτάσματα  πορόλιθου, της φημισμένης Αλφόπετρας, πέτρας εύκολης σε επεξεργασία και ανθεκτικής στην χρήση της στις κατασκευές, αναπτύχθηκαν με τον καιρό πολλοί φημισμένοι και αξιόλογοι,  για την εποχή που έζησε ο καθένας, μάστορες στο χτίσιμο της πέτρας.</p>
            <p>Το 1985 ο Κώστας Βεργιανάκης διδάχτηκε την τέχνη της πέτρας  κοντά σε δύο από αυτούς τους «πρωτομάστορες» τον Χαράλαμπο και τον Γιάννη Βεργιανάκη. Μάστορες με σημαντική παρακαταθήκη στο χώρο των  πέτρινων κατασκευών. Η γνωριμία και συνεργασία  του με το Μανώλη Σκευάκη, λιθοξόο - γλύπτη, το έτος 1990  τον ωθεί ώστε να δει από άλλη οπτική γωνία το χτίσιμο της πέτρας, ενώ στη συνέχεια η επαγγελματική συνεργασία με τον Κωνσταντίνο Τζανουδάκη  ή Τζανουδόκωστα από τον οικισμό Λαγκά δήμου Μυλοποτάμου, πρωτομάστορα εξίσου φημισμένο για την τεχνική του στο χτίσιμο, διεύρυνε περαιτέρω τις γνώσεις και την κατασκευαστική αντίληψή του.</p>
            <p>Σήμερα, ο Κώστας Βεργιανάκης ακολουθεί τον ίδιο δρόμο που όλοι οι παραπάνω του έδειξαν. Ο κάθε ένας ξεχωριστά συνέβαλε με τον δικό του τρόπο στην διαμόρφωση του χαρακτήρα του ως  «πρωτομάστορα» με αξιόλογη κατασκευαστική εμπειρία και διαδρομή. Και εκείνος με τη σειρά του, προσπαθεί να μεταλαμπαδεύσει τις γνώσεις του και την τέχνη που κατέχει,  σε όποιον είναι πρόθυμος να μάθει.</p>
         </div>
        </div>
      </div>
    </div>
  </li>
</ul>