<div id="carousel_21" class="carousel slide carousel-fade col-md-6  mt-4" data-bs-ride="carousel">
  <div class="carousel-inner shadow-lg rounded">
    <div class="carousel-item active">
      <%= image_tag("car_2021A.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car_2021B.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car_2021C.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car_2021D.jpg", class:"d-block w-100") %>
    </div>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel_21" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1_21"></button>
    <button type="button" data-bs-target="#carousel_21" data-bs-slide-to="1" aria-label="Slide 2_21"></button>
    <button type="button" data-bs-target="#carousel_21" data-bs-slide-to="2" aria-label="Slide 3_21"></button>
    <button type="button" data-bs-target="#carousel_21" data-bs-slide-to="3" aria-label="Slide 4_21"></button>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_21" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel_21" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
