<!-- workshop_photo2022 -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-8" style="background-color:rgba(255, 255, 255, 0.5); border:0;">
  <div class="card-body align-items-center" style="border:0; background-color:transparent;">
    <h2 class="card-title text-center">Εργαστήριο αναλογικής φωτογραφίας</h2>
    <h5 class="card-title text-center"><br>24 - 27 Μαρτίου 2022</h5>
    <p align="center">
      <%= link_to image_tag("https://uca633ea6d2c9eb979886aa5bce0.previews.dropboxusercontent.com/p/thumb/ABctZGnLGfLOHFlRCquuAI9-N6j4GSI8u1DZGQnxgrKLBDT_VGFgLnvcDV4L4c03hF34PXZfXQlGaej1lPM9axK_smtiY4h6jMIqcAk9isWHyT8J9ADcdhg-Nwrg2sZjj2EIt7bE4x63m4O1TCGj5Qt8RfH9PNvCNLhDGyF7OLHxgqzybXT24MG3CtTEqPIPpixruUQCXLQDF39v-klG5QefZE1d5R9hRKXn6Gh8-jkZ7wfCGUI1UmJ7SuUV85B0tdfJpkNDIIlIW7z0ZqV9Jy7w1TC_GagPlvWlWbGRB9ayftzFuHFG9tMojuH5hBVMKhLt4JduO8sPSwJtZFMezcGoVI6bbJzUfc9rdqQQ3TXUVf6SpY4I0DIIBuqekCI-Y9Y/p.jpeg", height:"auto", width:"100%", class: "shadow rounded col-md-6 mt-4"), 'https://uca633ea6d2c9eb979886aa5bce0.previews.dropboxusercontent.com/p/thumb/ABctZGnLGfLOHFlRCquuAI9-N6j4GSI8u1DZGQnxgrKLBDT_VGFgLnvcDV4L4c03hF34PXZfXQlGaej1lPM9axK_smtiY4h6jMIqcAk9isWHyT8J9ADcdhg-Nwrg2sZjj2EIt7bE4x63m4O1TCGj5Qt8RfH9PNvCNLhDGyF7OLHxgqzybXT24MG3CtTEqPIPpixruUQCXLQDF39v-klG5QefZE1d5R9hRKXn6Gh8-jkZ7wfCGUI1UmJ7SuUV85B0tdfJpkNDIIlIW7z0ZqV9Jy7w1TC_GagPlvWlWbGRB9ayftzFuHFG9tMojuH5hBVMKhLt4JduO8sPSwJtZFMezcGoVI6bbJzUfc9rdqQQ3TXUVf6SpY4I0DIIBuqekCI-Y9Y/p.jpeg', target: '_blank'%>
    </p>
    <div align="center">
      <%= button_to 'Πληροφορίες & Εγγραφή', photoworkshop_path, class:"btn btn-lg btn-outline-dark mt-4", method:'get' %>
    </div>
  </div>
</li>



<!-- workshop2021 -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-8" style="background-color:rgba(255, 255, 255, 0.5); border:0;">
  <div class="card-body" style="border:0; background-color:transparent;">
    <h2 class="card-title text-center">Εργαστήριο κατασκευής ξερολιθιάς και αποκατάστασης λιθοδομής με φυσικά υλικά</h2>
    <h5 class="card-title text-center"><br>25 - 31 Ιουλίου 2021</h5>
      <div class="carousel slide carousel-fade d-flex justify-content-center">
      <%= render 'pages/workshop2021' %>
    </div>
  </div>
</li>


<!-- workshop2020 -->
<li class="archive-card list-group-item mt-5 col-md-6 offset-md-3 shadow rounded card p-3 mb-8" style="background-color:rgba(255, 255, 255, 0.5); border:0;">
  <div class="card-body">
    <h2 class="card-title text-center">Εργαστήριο συντήρησης και αποκατάστασης λιθοδομής με φυσικά υλικά</h2>
    <h5 class="card-title text-center"><br>31 Ιουλίου - 2 Αυγούστου 2020</h5>
      <div class="carousel slide carousel-fade d-flex justify-content-center">
      <%= render 'pages/workshop2020' %>
    </div>
  </div>
</li>
