<div id="carousel_20" class="carousel slide carousel-fade col-md-6  mt-4 shadow" data-bs-ride="carousel">
  <div class="carousel-inner shadow-lg rounded">
    <div class="carousel-item active">
      <%= image_tag("car_2020A.jpg", class:"d-block w-100 rounded ") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car_2020B.jpg", class:"d-block w-100 rounded ") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("car_2020C.jpg", class:"d-block w-100 rounded ") %>
    </div>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel_20" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1_20"></button>
    <button type="button" data-bs-target="#carousel_20" data-bs-slide-to="1" aria-label="Slide 2_20"></button>
    <button type="button" data-bs-target="#carousel_20" data-bs-slide-to="2" aria-label="Slide 3_20"></button>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_20" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel_20" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
