<html lang="en" class="overflow-scroll">
  <div class="about-page">
    <div class="card bg-dark text-white" id="about-text">
      <div class="card-img-overlay">
        <div class= "container .col-xs-12 .col-md-8">
          <div id="about-list">
            <%= render 'pages/about_text' %>
          </div>
        </div>
      </div>
    </div>
    <div class= "container .col-xs-12 .col-md-8 mt-4">
      <h1 class="card-title text-white .col-xs-12 .col-md-8 text-center">Τα Μέλη</h1>
      <%= render 'pages/members_list' %>
    </div>
  </div>
</html>
