<html lang="en">
  <div class="home vh-100">
    <div class="col-md-2" id="home_logo">
      <%= image_tag("home_logo.png", class:"img-fluid") %>
      <p>Ομάδα Προφορικών Αφηγήσεων Μαργαριτών</p>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</html>
