<html lang="en" class="overflow-scroll">
  <div class="min-vh-100 overflow-scroll" id="stoneworkshop"><%# .change-hue-animation  %>
    <div class="card text-white" style="background-color: transparent">
      <div class= "container col-xs-12 col-md-8">
        <div class="list-group justify-content-center mt-3">
          <%= render 'pages/stone_workshop_text' %>
        </div>
      </div>

    <div class="container mt-5 p-2 mb-4 col-md-6 col-sm-12 text-center rounded text-white" id="archive-footer">
      <div class="mb-3">
        <%= link_to image_tag("footer_fb.png", width: "30px"), 'https://www.facebook.com/%CE%A1%CF%8C%CE%B4%CE%B1%CE%BA%CE%B1%CF%82-%CE%9C%CE%B1%CF%81%CE%B3%CE%B1%CF%81%CE%AF%CF%84%CE%B5%CF%82-%CE%9C%CF%85%CE%BB%CE%BF%CF%80%CE%BF%CF%84%CE%AC%CE%BC%CE%BF%CF%85-107517978163857/?ref=page_internal', target:"_blank", class: "footer-link m-2" %>
        <%= link_to image_tag("footer_yt.png", width: "30px"), 'https://www.youtube.com/channel/UCFZ2PZdULV6otQCx3BsWSAQ', target:"_blank", class: "footer-link m-2" %>
      </div>
      <div>
        © 2022 Copyright:   <a class="text-white" href="https://rodakas.org/">rodakas.org</a>
      </div>
    </div>
  </div>
  </div>
</html>
